# Configuración de Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=referencias_user
DB_PASSWORD=referencias_pass
DB_NAME=referencias_db

# Configuración de GROBID
GROBID_URL=http://localhost:8070

# Directorio donde se guardan los archivos de referencias
REFERENCIAS_DIR=referencias

# APIs externas
# Obtén tu key gratis en: https://core.ac.uk/services/api
CORE_API_KEY=  # aqui el api sin las comillas dobles 

# Similitud de títulos (0.0 - 1.0)
SIMILITUD_TITULO_THRESHOLD=0.85  # 85% similitud mínima por defecto